*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/imgContato/bContato3.png");
    background-position: center;
    background-size: cover;
    font-family: 'Alfa Slab One', cursive;
}
/*-------------------------------------Cabeca da pagina de contato---------------------------*/
.header{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-items: center;
}
.headerText-contato{
    padding: 10px;

}
.headerText-contato P{
    color: #fff;
    font-size: 43px;
    
}
.headerSearch-contato{
    width: 500px;
    height: max-content;
    border-radius: 5px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 50px;
}
.headerSearch-contato input{
    font-size: 17px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 800;
    color: #fff;

}
.headerSearch-contato img{
    width: 30px;
    height: 30px;
}
/*--------------------------Caixa com perguntas prontas-------------------*/

.mainContent{
    margin-top: 15px;
    margin-bottom: 30px;
    border: 2px solid #999;
    display: grid;
    width: 80%;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: max-content 280px 280px;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Titulo*/
.ctituloPerguntasFreq{
    grid-column: 1/4;
    width: 90%;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}
.ctituloPerguntasFreq h1{
    font-size: 35px;
    font-weight: 700;
    color: #352086;
}
.ctituloPerguntasFreq p{
    color: #fff;
}

/*Perguntas*/
.boxPergunta1{
    grid-column: 1/2;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.boxPergunta2{
    grid-column: 2/3;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.boxPergunta3{
    grid-column: 3/4;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.boxPergunta4{
    grid-column: 1/2;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.boxPergunta5{
    grid-column: 2/3;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.boxPergunta6{
    grid: 3/4;
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.tituloBoxPergunta{
    width: 100%;
    height: max-content;
    padding: 5px;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #352086;
}
.conteudoPergunta{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.conteudoPergunta a{
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.conteudoPergunta a:hover{
    color: #fff;
    padding-left: 8px;

}
.conteudoPergunta a{
    display: inline-block;
    text-align: center;
    color: #fff;
    transition: all 0.5s ease;
}
.conteudoPergunta a:hover{
    color: #352086;
}
@media(max-width: 767px){
    .conteudoPergunta{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .conteudoPergunta{
        width: 100%;
        margin-bottom: 30px;
    }
}


/*---------------------Formulario e informações de contato --------------------------*/
.hero{
    width: 80%;
    margin: 50px auto;
}
.h3hero{
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
h1{
    margin-bottom: 10px;
    color: #fff;
}
.hero p{
    margin-bottom: 40px;
    color: #fff;
}

.input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color:  #1e2648;
}
button{
    background: linear-gradient(135deg, #000, #1e2648);
    width: 30%;
    border:none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-left h3{
    color: #1e2648;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}